body{
    margin: 0;
    overflow-x: hidden;
    background-color: #EBEBEB;
    font-family: 'Georgia', serif;

}
html{
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
#content-box{
    height: 40rem;
    width: 80rem;
    background-color:#FFFFFF ;
    position: absolute;
    left:50%;
    top:5%;
    transform: translateX(-50%);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.user-and-description {
    position: relative;
    left:2rem;
    top:2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 40rem;
}

img{
    width:4rem;
    height: 4rem;
    border-radius: 2rem;
    padding: 0.3rem;
}
.user-name{
    font-family: 'Georgia', serif;
    color: #333333;
    font-size: 1.5rem;
    font-weight: bold;
}
.role-description{
    color: rgba(0, 0, 0, 0.5);
}
.social-links {
    position: relative;
    top: 51px;
    left: 5.1rem;
}
.social-logo{
    width:2.8rem;
    height:2.8rem;
    border-radius: 1rem;
}
.separator {
    width: 100%;
    height: 0.125rem; /* Adjust thickness here */
    background-color: #cccccc; /* Gray color */
    margin: 3rem 0; /* Adjust spacing here */
    margin-bottom: 30px;
  }
.tabs{
    display: flex;
    width: 22.5rem ;
    justify-content: center;
}
button:hover{
    cursor: pointer;
    background-color: #272727;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight:normal;
    box-shadow: 0 2px 4px rgba(1, 1, 1, 0.3);
    /* transform: scale(1.05); Slightly enlarge the button on hover */

}
.content{
    padding-left: 5.8rem;
}

.tab-container {
    display: flex;
    element.style {
    padding-left: 5.4rem;
    padding-bottom: 1.25rem;
    }
}
input[type="radio"] {
    display: none;
}
label {
    margin: 5px;
    padding: 0.6rem;
    border-radius: .5rem;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #ffffff; /* Initial border color same as background */
    transition: background-color 0.3s, color 0.3s;

  }
input[type="radio"]:checked + label {
    background-color: #272727;
    color: #FFFFFF;
}
label:hover {
    background-color: #272727;
    color: #FFFFFF;
  }

